# Server Configuration
PORT=5001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# RPC and Private Keys
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/43f1adf0812f4428ad644bce209e8ef2
RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=0x5a99b79601cb2700965c0b4c1f5369d00e5d1738053139c760593c5c96ba1757
VERIFIER_PRIVATE_KEY=0x5a99b79601cb2700965c0b4c1f5369d00e5d1738053139c760593c5c96ba1757
SIGNER_PRIVATE_KEY=0x5a99b79601cb2700965c0b4c1f5369d00e5d1738053139c760593c5c96ba1757
BACKEND_WALLET=0x86A598b3717915dC281B0c313B7496C5A262203C

# Chainlink VRF
VRF_COORDINATOR=0x9DdfaCa8183c41ad55329BdeeD9F6A8d53168B1B
VRF_KEY_HASH=0x787d74caea10b2b357790d5b5247c2f63d1d91572a9846f780606e4d953677ae
VRF_SUB_ID=439256


# Storage & APIs
NFT_STORAGE_TOKEN=78a3a9325.93e437caac324a8abde1667b00694958
VITE_W3UP_SPACE_DID=did:key:z6MkmrJWCourtHedcaRHa91KEpaB41HV9UHp6iZhcd1b48Ra
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...[truncated for privacy]

# OAuth
TWITTER_CLIENT_ID=your_twitter_client_id_here
TWITTER_CLIENT_SECRET=your_twitter_client_secret_here
TWITTER_REDIRECT_URI=http://localhost:5173/twitter-callback
VITE_TWITTER_CLIENT_ID=your_twitter_client_id_here
VITE_TWITTER_REDIRECT_URI=http://localhost:5174/twitter-callback

# Database
MONGO_URI=mongodb+srv://dinabahnasy:kJMJLhiOcmdjuzeH@cluster0.ucfbz.mongodb.net/web3games?retryWrites=true&w=majority&appName=Cluster0

# Security
JWT_SECRET=9d4f5b2a-8c8b-4e1d-a6a4-6e8f8f78f9d6

# External Services
ETHERSCAN_API_KEY=YIZH8RW1B1BRW2JHRRBY5I8QD1FN2NZD61
